@import "styles/_base";

font-color = #666
small-font-color = font-color - 25%

.row {
  height 100%
  margin 0

  .aside, .middle, .main {
    height 100%
    overflow-y scroll
  }

  .aside {
    background: #2f2f2f

    .vcard {
      .vcard-avatar img {
        display block
        margin 0px auto
        margin-top 20px
      }

      .vcard-names {
        .vcard-fullname, .vcard-username {
          display block
        }
        .vcard-fullname {
          font-size 26px
          line-height 30px
        }
        .vcard-username {
          font-size 20px
          line-height 22px
          color small-font-color
        }
      }

      .vcard-stats {
        text-align center
        margin-top 20px
        &:before, $:after {
          content " "
          display table
        }

        .vcard-stat {
          float left
          width 33.33%
          font-size 17px
          color small-font-color
          text-decoration none
          text-transform capitalize
          &:hover {
            color #4183c4
            .vcard-stat-count {
              color #4183c4
            }
          }

          .vcard-stat-count {
            display block
            font-size 28px
            font-weight bold
            line-height 1
            color font-color
          }
        }
      }
    }
  }

  .middle {
  }

  .main {
  }
}