@import "styles/_base";

font-color = #666
small-font-color = font-color - 25%

.row {
  height 100%
  margin 0

  .aside, .middle, .main {
    height 100%
    overflow-y scroll
  }

  .aside {
    background: #2f2f2f

    .vcard {
      .vcard-avatar img {
        display block
        margin 0 auto
        margin-top 20px
      }

      .vcard-names {
        .vcard-fullname, .vcard-username {
          display block
        }
        .vcard-fullname {
          font-size 26px
          line-height 30px
        }
        .vcard-username {
          font-size 20px
          line-height 22px
          color small-font-color
        }
      }
    }
  }

  .middle {
    padding 0
    border-right 1px solid #d9d9d9

    .repo-list {
      padding 0
      font-size 13px

      .repo {
        list-style-type none
        border-bottom 1px solid #d9d9d9
        padding 15px
        &:hover {
          background #fcfce2
          box-shadow inset 0 0 10px #ccc
        }

        h3 {
          margin 0
          display inline-block
        }
        .sort-info {
          display inline-block
          font-size 11px
          color #999
        }
      }
    }
  }

  .main {
  }
}