doctype html
html(ng-app="gitStars")
  head
    meta(charset="utf-8")
    title gitStars
    // inject:vendor:css
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">
    // endinject
    // inject:css
    <link rel="stylesheet" href="/css/app.css">
    // endinject
  body
    .row
      .col-md-2.aside
        .vcard
          a.vcard-avatar(href="#")
            img.img-rounded(src="https://avatars2.githubusercontent.com/u/2058684?s=460", height="230", width="230")
          h1.vcard-names
            span.vcard-fullname Chunpeng Wen
            span.vcard-username wcp1231
          .vcard-stats
            a.vcard-stat(href="#")
              strong.vcard-stat-count 11
              | followers
            a.vcard-stat(href="#")
              strong.vcard-stat-count 455
              | starred
            a.vcard-stat(href="#")
              strong.vcard-stat-count 40
              | following
      .col-md-3.middle
      .col-md-7.main
    // inject:vendor:js
    <script src="/angular/angular.js"></script>
    <script src="/angular-route/angular-route.js"></script>
    <script src="/jquery/dist/jquery.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.js"></script>
    // endinject
    // inject:js
    <script src="/controllers/rootCtrl.js"></script>
    <script src="/gitStars-templates.js"></script>
    <script src="/app.js"></script>
    <script src="/route.js"></script>
    // endinject
