doctype html
html(ng-app="gitStars")
  head
    meta(charset="utf-8")
    title gitStars
    // inject:vendor:css
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">
    // endinject
    // inject:css
    <link rel="stylesheet" href="/css/app.css">
    // endinject
  body(ng-controller="rootCtrl")
    .row
      .col-md-2.aside
        .vcard
          a.vcard-avatar(href="#")
            img.img-rounded(src="{{ user.avatar }}", height="230", width="230")
          h1.vcard-names
            span.vcard-fullname {{ user.fullname }}
            span.vcard-username {{ user.username }}
      .col-md-3.middle
        .sort-bar
        ul.repo-list
          - for(var x = 0; x < 7; x++)
            li.repo.source
              span.mega-octicon.octicon-repo
              h3
                a(href="https://github.com/sofish/pen") sofish/pen
              span.sort-info
                = " Starred "
                time on 28 Apr
              p.description enjoy live editing (+markdown)
            li.repo.fork
              span.mega-octicon.octicon-repo
              h3
                a(href="https://github.com/elm-lang/Elm") elm-lang/Elm
              span.sort-info
                = " Starred "
                time 29 days ago
              p.description Compiler for the Elm programming language. Elm aims to make web development more pleasant. Elm is a type-safe, functional reactive language that compiles to HTML, CSS, and JavaScript.

      .col-md-7.main
    // inject:vendor:js
    <script src="/angular/angular.js"></script>
    <script src="/angular-route/angular-route.js"></script>
    <script src="/jquery/dist/jquery.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.js"></script>
    // endinject
    // inject:js
    <script src="/src/app/controllers/rootCtrl.js"></script>
    <script src="/gitStars-templates.js"></script>
    <script src="/src/app/app.js"></script>
    <script src="/src/app/route.js"></script>
    // endinject
