.col-md-1.aside
  .vcard
    a.vcard-avatar(href="{{ user.html_url }}")
      img.img-rounded(src="{{ user.avatar_url }}", height="100", width="100")
    h1.vcard-names
      span.vcard-fullname {{ user.name }}
      span.vcard-username {{ user.login }}
  .panel.panel-default.filterlist
    .panel-heading language
    ul.list-group
      li.list-group-item(ng-click="selectTag('language')") 全部 <span class="badge">{{ repos.length }}</span>
      li.list-group-item(ng-repeat="l in langFilter", ng-click="selectTag('language', l[0])") {{ l[0] }} <span class="badge">{{ l[1] }}</span>
  .list-group.operation
    a.list-group-item(href="#", ng-click="refresh()")
      span.glyphicon.glyphicon-refresh
      = " Refresh"
    a.list-group-item(href="/logout")
      span.glyphicon.glyphicon-log-out
      = " Logout"
.col-md-3.middle
  .sort-bar
    input.form-control.seach(type="text", placeholder="search", ng-model="search.name")
  ul.repo-list
    li.repo.source(ng-repeat="repo in repos | filter : filterObj : true", ng-click="select($event, repo)", ng-class="{active: repo.selected}")
      span.mega-octicon.octicon-repo
      h3
        a(href="{{ repo.html_url }}")= '{{ repo.name }}'
        small
          = ' By '
          a(href="{{ repo.owner.html_url }}") {{ repo.owner.login }}
      p.description {{ repo.description }}
.col-md-8.main
  .panel.panel-default
    .panel-heading Tag & Note
    .panel-body
      .form-group
        label Note
        textarea.form-control(msd-elastic, ng-model="selectedRepo.note")
      .pull-right.btn.btn-primary(ng-click="saveNoteAndTags()") Save
  .panel.panel-default
    .panel-heading READEME
    .panel-body(ng-bind-html="selectedRepo.readme")
