.col-md-1.aside
  .vcard
    a.vcard-avatar(href="{{ user.html_url }}")
      img.img-rounded(src="{{ user.avatar_url }}", height="100", width="100")
    h1.vcard-names
      span.vcard-fullname {{ user.name }}
      span.vcard-username {{ user.login }}
.col-md-3.middle
  .sort-bar
    input.form-control.seach(type="text", placeholder="search")
  ul.repo-list
    li.repo.source(ng-repeat="repo in repos")
      span.mega-octicon.octicon-repo
      h3
        a(href="{{ repo.html_url }}") {{ repo.full_name }}
      p.description {{ repo.description }}
.col-md-8.main
  = "{{repo}}"
