.col-md-2.aside
  h2 GitHub Starred
  a.btn.btn-primary.btn-block(href="https://github.com/login/oauth/authorize?client_id=71ace902e2fd52547831") GitHub 登陆
.col-md-10.middle
  .jumbotron
    h1 GitHub Starred